VLLM_BASE_URL=http://127.0.0.1:8000/v1
VLLM_API_KEY=EMPTY
VLLM_MODEL=Qwen3.6-27B

SQLSERVER_SERVER=127.0.0.1,1433
SQLSERVER_DATABASE=<DATABASE_NAME>
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_TRUSTED_CONNECTION=no
SQLSERVER_USERNAME=<READ_ONLY_USERNAME>
SQLSERVER_PASSWORD=<READ_ONLY_PASSWORD>
SQLSERVER_ENCRYPT=yes
SQLSERVER_TRUST_SERVER_CERTIFICATE=yes